echo "# forja.web" >> README.md 
git init 
git add README.md 
git commit -m "primeiro commit" 
git branch -M main 
git remote add origin https://github.com/Nicolasvitto/forja.web.git
 git push -u origem principal
